{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Abonomex</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/bootstrap.min.css" media="all" />
  <!-- Slick nav CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/slicknav.min.css" media="all" />
  <!-- Iconfont CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/icofont.css" media="all" />
  <!-- Slick CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/slick.css">
  <link rel="stylesheet" type="text/css" href="/static/css/horizontal.css">
  <link rel="stylesheet" href="/static/css2/font-awesome.min.css">
  <!-- Owl carousel CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/owl.carousel.css">
  <!-- Popup CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/magnific-popup.css">
  <!-- Switcher CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/switcher-style.css">
  <!-- Animate CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/animate.min.css">
  <!-- Main style CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/style.css" media="all" />
  <!-- Responsive CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css2/responsive.css" media="all" />
  <!-- Favicon Icon -->
  <link rel="icon" type="image/png" href="/static/imagenes/favcion.png" />
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
  <body>

    {% include 'paginas/header2.html' %}




  {% block content %}



  {%  endblock %}
  {% include 'paginas/footer.html' %}


  <!-- jquery main JS -->
  <script src="/static/js2/jquery.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="/static/js2/bootstrap.min.js"></script>
  <!-- Slick nav JS -->
  <script src="/static/js2/jquery.slicknav.min.js"></script>
  <!-- Slick JS -->
  <script src="/static/js2/slick.min.js"></script>
  <!-- owl carousel JS -->
  <script src="/static/js2/owl.carousel.min.js"></script>
  <!-- Popup JS -->
  <script src="/static/js2/jquery.magnific-popup.min.js"></script>
  <!-- Counter JS -->
  <script src="/static/js2/jquery.counterup.min.js"></script>
  <!-- Counterup waypoints JS -->
  <script src="/static/js2/waypoints.min.js"></script>
    <!-- YTPlayer JS -->
    <script src="/static/js2/jquery.mb.YTPlayer.min.js"></script>
  <!-- jQuery Easing JS -->
  <script src="/static/js2/jquery.easing.1.3.js"></script>
  <!-- Gmap JS -->
  <script src="/static/js2/gmap3.min.js"></script>
      <!-- Google map api -->
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnKyOpsNq-vWYtrwayN3BkF3b4k3O9A_A"></script>
  <!-- Custom map JS -->
  <script src="/static/js2/custom-map.js"></script>
  <!-- WOW JS -->
  <script src="/static/js2/wow-1.3.0.min.js"></script>
  <!-- Switcher JS -->
  <script src="/static/js2/switcher.js"></script>
  <!-- main JS -->
  <script src="/static/js2/main.js"></script>
</body>
</html>
