{% extends "paginas/base.html" %}
{% load static %}

{% block content %}
<br><br><br>


<div class="container-fluid">

<div class="row">
  <style type="text/css">
  #title{{ cultivo.id }} {
      background-image: url("https://www.scotsmanconferences.com/wp-content/uploads/2017/09/Life-Sciences-pic-1_2160x1080_3-1.jpg");
      max-height: 25vh;
  }
  </style>
  <div id="title" class="slide header">
    <h1>Cultivos</h1>
  </div>

{% for cultivo in cultivos  %}
<style type="text/css">
#slide{{ cultivo.id }} {
    background-image: url("{{ cultivo.imagen }}");
}
</style>
  <div id="slide{{ cultivo.id }}" class="slide" >
    <h1>{{ cultivo }}</h1>


      <div class="row">
        {% for etapa in cultivo.etapas.all %}
  <div class="col">
    <div class="title">

      <p>{{ etapa.nombre }}</p>
      <img src="{{ etapa.imagen }}" alt="{{ etapa.nombre }}" style="width:50px">
    </div>

  </div>  {% endfor %}

</div>

  </div>
{% endfor  %}




  <div id="slide4" class="slide header">
      <h1>The End</h1>
  </div>

</div>

</div>




<br><br><br><br><br><br>
<div class="container">
<div class="progressCounter"></div>
  <section><h1 style="color:#fff; font-size:1.2em;">progressScroll jQuery Plugin Demo</h1></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>



  <script>
      $(".progressCounter").progressScroll();
  </script>



</div>


{% endblock  %}
