{% extends 'paginas/base.html' %}

{% block content %}

<br>
<br>
<br>

<div class="container">

<div class="row">


<h1 class="display-1">{{ object.nombre }}</h1>

<p>descripcion: {{ object.descripcion }}</p>

<img src="{{ object.imagen }}" class="img-fluid" alt="Responsive image">
</div>



</div>
<section>




<div class="demo">
           <div class="container">
               <h4>Etapas de desarrollo de {{ object.nombre }} </h4>
               <div class="row">
                   <div class="col-md-12">
                       <div class="main-timeline6">
                         {% for etapa in cultivo.etapas.all %}
                           <div class="timeline">
                               <div class="timeline-content">
                                   <span class="year">{{ etapa.nombre }}</span>
                                   <div class="content-inner">
                                       <span class="icon"><i class="fa fa-leaf"></i></span>
                                       <img class="pull-rig center-block" src="{{ etapa.imagen }}" alt="Generic placeholder image" width="100" >
                                       <p class="description">
                                         <div class="dropdown">
                                           <button class="btn btn-secondary dropdown-toggle" style="background-color:{{ linea.color }};" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                             Productos
                                           </button>
                                           <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                           {% for producto in productos %}


                                           {% if etapa in producto.etapas.all %}


                                             <a class="dropdown-item" href="/productos/{{ producto.pk }}/" >{{ producto.nombre }} </a>
                                               {% endif %}
                                                  {% endfor %}

                                           </div>
                                         </div>

                                      </p>
                                   </div>
                               </div>
                           </div>
                           {% endfor  %}

                       </div>
                   </div>
               </div>
           </div>
       </div>



 {% endblock %}
