{% extends 'paginas/base.html' %}

{% block content %}




<div class="container" style="padding-top: 75px;">
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">



      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cultivos
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          {% for cultiv in object_list %}
          <button class="dropdown-item" type="button"><a class="dropdown-item" href="{{ cultiv.id }}/">{{ cultiv.nombre }}</a>

           {% endfor %}
          </button>

        </div>
      </div>





    </div>
    <div class="col-md-auto">

        <img src="https://classroomclipart.com/images/gallery/Clipart/Plants/flower-plant-structure-clipart-illustration-6818.jpg" usemap="#image-map">

        <map name="image-map">
            <area target="_top" alt="Raices" title="Raices" href="roots.html" coords="278,264,271,275,259,281,238,294,230,313,241,344,259,359,279,367,310,360,325,336,338,319,337,301,331,290,300,274,291,271,316,285,289,264" shape="poly">
            <area target="_blank" alt="Flor" title="Flor" href="flor.html" coords="214,44,196,52,186,61,188,80,199,93,227,96,238,78,244,59,235,45" shape="poly">
            <area target="" alt="" title="Tallo" href="Tallo" coords="283,64,283,88,279,113,279,138,286,169,285,187,288,209,283,233,277,253,289,256,294,210,290,140,286,121,293,80" shape="poly">
        </map>

    </div>
    <div class="col col-lg-2">



      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Productos
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          {% for prod in productos %}
          <button class="dropdown-item" type="button"><a class="dropdown-item" href="/productos/{{ prod.id }}/">{{ prod.nombre }}</a>

           {% endfor %}
          </button>

        </div>
      </div>





    </div>
  </div>

</div>
























<br><br>

 {% endblock %}
