{% extends "paginas/base.html" %}
{% load static %}

{% block content %}
<br><br><br>


<section>
<div class="container-fluid">

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    {% for cultivo in cultivos %}
    <div class="carousel-item {% if cultivo.id == 1 %}active{% else %}{% endif %}">


      <img class="d-block w-100" src="{{ cultivo.imagen }}" alt="Second slide">

      <div class="carousel-caption d-none d-md-block">

            <h1 class="display-1">{{ cultivo.nombre }}</h1>
            <p style="color:#ffffff" media="screen">{{ cultivo.descripcion }}</p>


            <p><button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Productos por etapa </button>
                </p>
                <div class="collapse" id="collapseExample">
                <div class="card card-body" style="background-color:#000000;">

                  <div class="row" style="color:#000000">

{% for etapa in cultivo.etapas.all %}


<div class="col-sm-6">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ etapa.nombre }}</h5>

      {% for producto in productos %}


      {% if etapa in producto.etapas.all %}


        <a class="dropdown-item" href="/productos/{{ producto.pk }}/" >{{ producto.nombre }} </a>
          {% endif %}
             {% endfor %}

    </div>
  </div>
</div>

{% endfor %}

</div>


                </div>
                </div>




</div>
    </div> {% endfor %}

  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


</section>





{% endblock  %}
