
{% load static %}

{% block content %}
<br><br><br>
<div class="container">
<div class="progressCounter"> m</div>
  <section><h1 style="color:#fff; font-size:1.2em;">progressScroll jQuery Plugin Demo</h1></section>
  <section></section>
  <section></section>
  <section></section>
  <section></section>


  <script src="http://abonomex.com/js/jquery.progressScroll.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/jquery-1.11.2.min.js" type="text/javascript"></script>

  <script>
      $(".progressCounter").progressScroll();
  </script>



</div>

<link href="{% static "css/progress.css" %}" rel="stylesheet">




{% endblock  %}
