
{% extends "paginas/base.html" %}
{% block content %}


{% for producto in productos %}
<p> {{ producto }}</p>

{% endfor %}



<section>


  <h1 style="padding-top: 60px;">CSS Slider</h1>
  <h2>Pure CSS Slider. No JS. Because it is possieble!</h2>
  <div class="csslider infinity" id="slider1">
    <input type="radio" name="slides" id="slides_1"/>
    <input type="radio" name="slides" checked="checked" id="slides_2"/>
    <input type="radio" name="slides" id="slides_3"/>
    <input type="radio" name="slides" id="slides_4"/>
    <input type="radio" name="slides" id="slides_5"/>
    <input type="radio" name="slides" id="slides_6"/>
    <ul>
      <li>
        <h1>Say hello to CSS3</h1>
        <p>CSSlider is lightweight & easy to use slider. No JS - pure CSS.</p>
      </li>
      <li><img src="https://rawgithub.com/drygiel/csslider/master/examples/themes/stones.jpg"/>
      </li>
      <li>
        <div id="bg">
          <div>
            <h1>CSS Events</h1>
            <p>When slide 3 is reached - play CSS animation!</p>
          </div>
        </div>
      </li>
      <li class="scrollable">
        <h1>Lots of text</h1>
        <h2>Scrollable one</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in malesuada mi,
          semper id sollicitudin urna fermentum ut fusce varius nisl ac ipsum gravida vel pretium tellus.
        </p>
      </li>
      <li>
        <div id="center"> <a class="nice-link" href="https://github.com/drygiel/csslider" data-text="More examples on github" target="_blank">More examples on github</a></div>
      </li>
      <li>
        <div id="center"><a class="play" id="dex-sign" href="http://drygiel.com" target="_blank"></a></div>
      </li>
    </ul>
    <div class="arrows">
      <label for="slides_1"></label>
      <label for="slides_2"></label>
      <label for="slides_3"></label>
      <label for="slides_4"></label>
      <label for="slides_5"></label>
      <label for="slides_6"></label>
      <label class="goto-first" for="slides_1"></label>
      <label class="goto-last" for="slides_6"></label>
    </div>
    <div class="navigation">
      <div>
        <label for="slides_1"></label>
        <label for="slides_2"></label>
        <label for="slides_3"></label>
        <label for="slides_4"></label>
        <label for="slides_5"></label>
        <label for="slides_6"></label>
      </div>
    </div>
  </div><a href="https://github.com/drygiel" target="_blank"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"/></a>


</section>





{% endblock  %}
