<footer class="footer" id="contacto">
  <div class="container">
    <div class="row">
                <div class="col-lg-6">
        <div class="contact-form">
          <h4>Contáctanos!!!</h4>
          <p class="form-message"></p>
          <form  method="POST"  id="contacto">{% csrf_token  %}

            {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
        </div>
                </div>
                <div class="col-lg-6">
        <div class="contact-address">
          <h4>Dirección</h4>
          <p>Río Colorado 206, Del Valle, 66220 San Pedro Garza García, N.L.</p>
          <ul>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-headphone-alt"></i>
              </div>
              <div class="contact-address-info">
                <a href="callto:#">+5281-1358-7715</a>

              </div>
            </li>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-envelope"></i>
              </div>
              <div class="contact-address-info">
                <a href="mailto:#">contacto@abonomex.com</a>
              </div>
            </li>
            <li>
              <div class="contact-address-icon">
                <i class="icofont icofont-web"></i>
              </div>
              <div class="contact-address-info">
                <a href="http://abonomex.com/">www.abonomex.com/</a>
              </div>
            </li>
          </ul>
        </div>
                </div>
    </div>

    <div class="row">
                <div class="col-lg-12">
        <div class="copyright-area">
          <ul>
            <li><a href="http://instagram.com/abonomex"><i class="icofont icofont-social-instagram"></i></a></li>

          </ul>
          <p>&copy; Abonomex &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i></p>
        </div>
                </div>
    </div>
  </div>
  <a href="#" class="scrollToTop">
    <i class="icofont icofont-arrow-up"></i>
  </a>
</footer>
