{% extends 'paginas/base.html' %}

{% block content %}


<br>
<br>
<br>

<div class=container>




  <h1>Funciones</h1>











      </div></div>
    </div>


    <h1>  </h1>



  {% for funcion in object_list %}
    <div class="MainContainer">

      <div class="ParallaxContainer">
        <h1>
          {{ funcion.nombre }}
        </h1>
      </div>
       {% for producto in funcion.producto_set.all %}
      <div class="ContentContainer">
        <div class="Content">
            <p> <a href="../productos/{{ producto.pk }}/">{{ producto.nombre }} </a> <p>
         </div>
      </div>{% endfor %}
    </div>

{% endfor %}














</div>








{% endblock %}
