{% extends 'paginas/base.html' %}

{% block content %}

<br>
<br>
<br>
<div class=container>

  <div class="jumbotron">
    <h1 class="display-4">{{ object.nombre }}</h1>
    <p class="lead">{{ object.funcion}}</p><hr class="my-4">

    <img src="{{ object.imagen}}" class="img-thumbnail">

  </div>








{% endblock %}
