<header class="header">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-2 col-md-3 col-6">
						<div class="logo">
							<a href="/#home"><img src="/static/imagenes/logoblanco.svg" alt="logo" /></a>
						</div>
					</div>
					<div class="col-lg-10 col-md-9 col-6">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="nav-link " href="/#home">Inicio</a></li>
                                <li><a class="nav-link" href="/#nosotros">Nosotros</a></li>
                                <li><a class="nav-link active" href="/productos">Productos</a></li>
                                <li><a class="nav-link" href="/#video">Vídeo</a></li>
                                <li><a class="nav-link" href="/#contacto">Contáctanos</a></li>

                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
