{% extends 'paginas/base.html' %}

{% block content %}




		 <!-- hero area start -->
		<section class="hero-area" id="home">
			<div class="player" data-property="{videoURL:'http://youtu.be/bgLt6I2PuQg',containment:'#home',autoPlay:true, mute:true, startAt:0, showControls:false, loop:true, opacity:1}"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="hero-area-content">
							<h1>Primer empresa mexicana con la misión de ser un aliado real para los productores del campo mexicano.</h1>

							<a href="#" class="appao-btn">Productos</a>
							<a href="#" class="appao-btn">Cultivos</a>
						</div>
					</div>
					<div class="col-lg-5">
					    <div class="hand-mockup text-lg-left text-center">
							<img src="static/imagenes/abo.png" alt="Hand Mockup" />
						</div>
					</div>
				</div>
			</div>
		</section><!-- hero area end -->
		<!-- about section start -->
		<section class="screenshot-area ptb-90 " id="nosotros">
			<div class="container">




				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Sobre Abonomex<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<p>En Abonomex estamos orgullosos de lo que estamos construyendo, por ello abrimos nuestras puertas para que todos conozcan donde y
								como son elaborados nuestros productos. Esta transparencia nos permite garantizarles calidad y precio procurando siempre el más bajo impacto ambiental. </p>
						</div>
					</div>
				</div>
				<div class="row">


					<div class="col-lg-4">
					    <div class="single-about-box">
							<img src="static/imagenes/tractor.png" alt="Productos Eficientes" />
							<h4>Productos Eficientes</h4>
							<p>Generamos líneas de productos de alta tecnología para llevar la mejor oferta de precio y calidad para incrementar la producción y disminuir riesgos.</p>
						</div>
					</div>
					<div class="col-lg-4">
					    <div class="single-about-box active">
							<img src="static/imagenes/envira.png" alt="Fertilizantes" />
							<h4>Fertilizantes</h4>
							<p>De alto desempeño, creados especialmente para la estimulación, desarrollo, fortaleza y mantenimiento de la planta y raíz.</p>
						</div>
					</div>
					<div class="col-lg-4">
					    <div class="single-about-box">
							<img src="static/imagenes/servicio.png" alt="Servicio al cliente" />
							<h4>Servicio al cliente</h4>
							<p>Estamos comprometidos con el principal motor de nuestra sociedad para brindar un servicio cálido y de excelencia.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- about section end -->
		<!-- feature section start -->
		<section class="feature-area ptb-90" >
			<div class="container">
				<div class="row flexbox-center">

					<div class="col-lg-5">
						<div class="single-feature-box text-center">
							<img src="static/imagenes/maquina.png" alt="feature">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="single-feature-box text-lg-left text-center">
							<ul>
								<li>
									<div class="feature-box-icon">
										<i class="icofont icofont-laptop"></i>
									</div>
									<div class="feature-box-info">
										<h1>Tecnología de Primer Mundo</h1>
										<p>Reunimos a un grupo de personas con experiencia, y con origen en nuestros campos, para el desarrollo de productos agrícolas, trabajo complementado con generadores de alta tecnología para ofrecer productos de calidad. </p>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- feature section end -->
		<!-- showcase section start -->
		<section class="showcase-area ptb-90" id="feature">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Productos por Etapa<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<p>Enfocados en las necesidades específicas de las plantas para automatizar su desarrollo y cuidados.</p>
						</div>
					</div>
				</div>

				{% for producto in productos %}

	{% if forloop.counter|divisibleby:2 %}

	<div class="row flexbox-center">
		<div class="col-lg-9">
			<div class="single-showcase-box">
			<a href="/productos/1" alt="{{ producto.nombre }}"> </a>
				<p>{{ producto.descripcion }}  </p>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="single-showcase-box">
				<img src="{{ producto.imagen }} " alt="showcase">
			</div>
		</div>
	</div>







	{% else %}


	<div class="row flexbox-center">
		<div class="col-lg-2">
			<div class="single-showcase-box">
				<img src="{{ producto.imagen }}" alt="showcase">
			</div>
		</div>
		<div class="col-lg-10">
			<div class="single-showcase-box">
				<a href="/productos/3"  alt="{{ producto.nombre }}"></a>				<p>{{ producto.descripcion }} </p>


			</div>
		</div>
	</div>

	{% endif %}

						{% endfor %}
						<div class="col-lg-12" >
					<a href="/productos" class="appao-btn appao-btn2">Más productos</a></div>


				</div>


		</section><!-- showcase section end -->
		<!-- video section start -->


		<!-- testimonial section start -->
		<section class="testimonial-area ptb-90 " id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">

						</div>
					</div>
				</div>



			</div>
			</section>
		<!-- download section start -->
		<section class="download-area ptb-90" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
								<div class="subscribe-form">


											<a href="/suscripcion">		<h1>Subscíbete!!!</h1></a>



				          </div>
					     </div>

							<h4>Recibe promociones exclusivas para nuestros clientes </h4>
						</div>
					</div>
				</div>
				<div class="row">






			</div>
		</section><!-- download section end -->

		<!-- google map area start -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14385.503781497311!2d-100.3643212!3d25.6588296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d61a6f488cdffa4!2sABONOMEX+SA+DE+CV!5e0!3m2!1ses-419!2smx!4v1547199416302" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<!-- google map area end -->
		<!-- footer section start -->


{% endblock %}
