{% extends 'paginas/base3.html' %}

{% block content %}
<section class="hero-area breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-area-content">
							<h1>Listado de Productos</h1>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/linea-de-productos">Línea de Productos</a></li>

                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
<section class="blog-detail" id="blog">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
          <div class="single-about-box">
            <h1 class="display-4" style="color:{{ linea.color }} ">{{ object.nombre }}</h1>
            <p class="lead">{{ object.funcion}}</p>
            <hr class="my-4">
            <h2>Descripción</h2>
            <p>{{ object.descripcion }}</p>


          </div>
				</div>
			</div>
			<div class="row">


				<div class="col-lg-6">
  <img src="{{ object.imagen}}" class="img-thumbnail">
				</div>
				<div class="col-lg-6">

        



<h2>Propiedades</h2> <p>{{ object.propiedades }}</p>
				</div>

			</div>
		</div>
	</section>


		<!-- footer section start -->
    <footer class="footer" id="contact">
			<div class="container">
				<div class="row">
                    <div class="col-lg-6">
						<div class="contact-form">
							<h4>Contáctanos!!!</h4>
							<p class="form-message"></p>


                  <form method="GET" action="">
                    <input type="text" placeholder="Buscar elementos" name="q" />
                    <<input type="submit" name="" value="Search"/>
                    </form>




							<form id="contact-form" action="#" method="POST">
				                <input type="text" name="name" placeholder="Enter Your Name">
				                <input type="email" name="email" placeholder="Enter Your Email">
				                <input type="text" name="subject" placeholder="Your Subject">
				                <textarea placeholder="Messege" name="message"></textarea>
				                <button type="submit" name="submit">Mandar mensaje</button>
				            </form>
						</div>
                    </div>
                    <div class="col-lg-6">
						<div class="contact-address">
							<h4>Dirección</h4>
							<p>Río Colorado 206, Del Valle, 66220 San Pedro Garza García, N.L.</p>
							<ul>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-headphone-alt"></i>
									</div>
									<div class="contact-address-info">
										<a href="callto:#">+5281---</a>
										<a href="callto:#">+5281---</a>
									</div>
								</li>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-envelope"></i>
									</div>
									<div class="contact-address-info">
										<a href="mailto:#">info@abonomex.com</a>
									</div>
								</li>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-web"></i>
									</div>
									<div class="contact-address-info">
										<a href="http://abonomex.com/">www.abonomex.com/</a>
									</div>
								</li>
							</ul>
						</div>
                    </div>
				</div>

				<div class="row">
                    <div class="col-lg-12">
						<div class="copyright-area">
							<ul>
								<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
							</ul>
							<p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Abonomex &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
                    </div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>



{% endblock %}
