{% extends 'paginas/base2.html' %}

{% block content %}



<br>
<br>
<br>

<div class=container style="color:{{ linea.color }}">




  <h1>linea</h1>
  {% for linea in linea_list %}
  <div class="container">

  <h1>  <a href="{{ linea.pk }}/" style="color:{{ linea.color }} ">{{ linea.nombre }} </a> </h1>

  {% for producto in linea.producto_set.all %}
              <h2> <a href="../productos/{{ producto.pk }}/" >{{ producto.nombre }} </a> </h2>
         {% endfor %}


   </div>

   {% endfor %}




   <div id="title" class="slide header">
     <h1>Pure CSS Parallax</h1>
   </div>

   <div id="slide1" class="slide">
     <div class="title">
       <h1>Slide 1</h1>
       <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
     </div>
   </div>

   <div id="slide2" class="slide">
     <div class="title">
       <h1>Slide 2</h1>
       <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
     </div>
     <img src="https://lorempixel.com/640/480/abstract/6/">
     <img src="https://lorempixel.com/640/480/abstract/4/">
   </div>

   <div id="slide3" class="slide">
     <div class="title">
       <h1>Slide 3</h1>
       <p>Lorem ipsum dolor sit amet, in velit iudico mandamus sit, persius dolorum in per, postulant mnesarchum cu nam. Malis movet ornatus id vim, feugait detracto est ea, eam eruditi conceptam in. Ne sit explicari interesset. Labores perpetua cum at. Id viris docendi denique vim.</p>
     </div>
   </div>

   <div id="slide4" class="slide header">
       <h1>The End</h1>
   </div>








</div>








{% endblock %}
