{% extends 'paginas/base.html' %}

{% block content %}


<div class=container>

  <div class="jumbotron">
    <h1 class="display-4">{{ object.nombre }}</h1>
    <p class="lead">{{ object.funcion}}</p>
    <hr class="my-4">
    <p>{{ object.descripcion }}</p>
    <p>{{ object.propiedades }}</p>
    <img src="{{ object.linea_de_producto.imagen}}" class="img-thumbnail">

  </div>








{% endblock %}
