{% extends 'paginas/base.html' %}

{% block content %}
<main role="main">

    <div class="container">
  <div class="row">
    <div class="col">
       
      <img class="center-block"  src="http://abonomex.com/imagenes/logo_abonomex.png" alt="Generic placeholder image" style="margin-top: 25px" heigth="200px">
    </div>

  </div>
</div>
    
    
    <div class="container-fluid" >
    <div class="row">
    <div style="display:inline-block;width:100%; overflow-y:auto;">
        
        
       
					<ul class="timeline timeline-horizontal" style="padding-top: 80px"> 
                        {% for linea in linea_de_productos %}
                        
						<li class="timeline-item">
							<div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4 class="timeline-title">{{ linea.nombre }}</h4>
									
								</div>
								<div class="timeline-body">
									<img class="rounded-circle pull-rig center-block" src="{{ linea.imagen }}" alt="Generic placeholder image" width="139" height="123">
								</div>
							</div>
						</li>
						 {% endfor %}
					</ul>
        
				</div>
			
    </div></div>
    
    <!--
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          {% for elem in elemento %}

          {% if forloop.counter == 1 %}


          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="{{ elem.imagen }}" alt="First slide">
              <div class="container">
                <div class="carousel-caption text-left">
                  <h1>{{ elem.nombre }}</h1>
                    <p> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


           {% elif forloop.counter  == 2 %}


            <div class="carousel-item">
              <img class="second-slide" src="{{ elem.imagen }}" alt="Second slide">
              <div class="container">
                <div class="carousel-caption">
                  <h1>{{ elem.nombre }}</h1>
                <p> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


{% else%}

            <div class="carousel-item">
              <img class="third-slide" src="{{ elem.imagen }}" alt="Third slide">
              <div class="container">
                <div class="carousel-caption text-right">
                  <h1>{{ elem.nombre }}</h1>
                  <p> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>
          </div>


{% endif %}

{% endfor %}
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

    

                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                  <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                  </ol>
                              <div class="carousel-inner">
                                    {% for elem in elemento %}

                                    {% if forloop.counter == 2 %}


                                    <div class="carousel-item active">
                                      <img class="first-slide" src="{{ elem.imagen }}" alt="First slide">
                                      <div class="container">
                                        <div class="carousel-caption text-left">
                                          <h1>{{ elem.nombre }}</h1>
                                          <p> {{ elem.descripcion }}</p>
                                          <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.descripcion }}</a></p>
                                        </div>
                                      </div>
                                    </div>

                                    {% else %}

                                    <div class="carousel-item ">
                                      <img class="second-slide" src="{{ elem.imagen }}" alt="second slide">
                                      <div class="container">
                                        <div class="carousel-caption text-left">
                                          <h1>{{ elem.nombre }}</h1>
                                          <p> {{ elem.descripcion }}</p>
                                          <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.descripcion }}</a></p>
                                        </div>
                                      </div>
                                    </div>
                              {% endif %}


                                  </div>
                                  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                  </a>
                                  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                  </a>
                                </div>
                              {% endfor %}-->

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->





  <div class="container marketing">




    <!-- Three columns of text below the carousel -->
    <div class="row">
      {% for linea in linea_de_productos %}
      <div class="col-lg-6">
        <img class="rounded-circle pull-rig center-block" src="{{ linea.imagen }}" alt="Generic placeholder image" width="139" height="123">
        <h1>  <a href="linea-de-producto/{{ linea.pk }}/" style="color:{{ linea.color }} ">{{ linea.nombre }} </a> </h1>
        <p> {{ linea.descripcion }}</p>
        <p><a class="btn btn-secondary" href="linea-de-producto/{{ linea.pk }}/" role="button">Ver productos &raquo;</a></p>
      </div><!-- /.col-lg-3 -->

       {% endfor %}

</div>





    <!-- START THE FEATURETTES -->
{% for funcion in funcion %}

{% if forloop.counter|divisibleby:"2" %}




<div class="row">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7">
        <h1 class="featurette-heading">{{ funcion.nombre }}</h1>
        <p >{{ funcion.descripcion }}</p>
        <p class="lead">

                {% for producto in funcion.producto_set.all %}
                     <h2> <a href="../productos/{{ producto.pk }}/">{{ producto.nombre }} </a> <h2>

                {% endfor %}

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ funcion.imagen }}" alt="Generic placeholder image">
      </div>
    </div>

  </div>



{% else%}


<div class="row">
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="{{ funcion.imagen }}" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <h1 class="featurette-heading">{{ funcion.nombre }}</h1>
          <p>{{ funcion.descripcion }}</p>
        <p class="lead">

                {% for producto in funcion.producto_set.all %}
                     <h2> <a href="../productos/{{ producto.pk }}/">{{ producto.nombre }} </a> <h2>
                {% endfor %}

      </div>

    </div>

  </div>


{% endif %}
{% endfor %}












  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Ir al inicio</a></p>
    <p>&copy; 2018 abonomex &middot; <a href="#">Términos y condiciones</a></p>  &middot;


  </footer>
</main>

{% endblock %}
