{% extends 'paginas/base.html' %}

{% block content %}





<br><br><br>
<div class="container-fluid" style="padding-left:0px; padding-right:0px; " >

 <div id="myCarousel" class="carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          {% for elem in elemento %}

          {% if forloop.counter == 1 %}


          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="{{ elem.imagen }}" alt="First slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


           {% elif forloop.counter  == 2 %}


            <div class="carousel-item">
              <img class="second-slide" src="{{ elem.imagen }}" alt="Second slide">
              <div class="container">
                <div class="carousel-caption"  ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


{% else%}

            <div class="carousel-item">
              <img class="third-slide" src="{{ elem.imagen }}" alt="Third slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>
          </div>


{% endif %}

{% endfor %}
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


</div>



{% for elemento in cultivos %}    {{ elemento.cultivos }}

    {%endfor %}




<!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="http://www.abonomex.com/imagenes/reactor_82.png" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Tecnoligía de primer mundo para construir cuidadosamente los priductos que utilizas</h1>
          <p> Nuestra propuesta se basa en un trato justo con el principal motor de nuestra sociedad y que al día de hoy le venden caro y le compran barato.</p>
          <a class="btn btn-primary btn-lg" href="#">Ver más</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div class="card text-white bg-info my-4 text-center">
        <div class="card-body">


        <h1>Linea de productos eficientes elaborados para incrementar la producción y dismimuir riesgos</h1>
            </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Productos</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="productos" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Cultivos</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
            </div>
            <div class="card-footer">
              <a href="cultivos" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">Etapas</h2>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
            </div>
            <div class="card-footer">
              <a href="etapas" class="btn btn-primary">Ver más</a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


  </div>



  <!-- FOOTER -->















{% endblock %}
