{% extends 'paginas/base.html' %}

{% block content %}

<br><br><br>
<div class="container-fluid" style="padding-left:0px; padding-right:0px; " >

 <div id="myCarousel" class="carousel" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>

          {% for elem in elemento %}

          {% if forloop.counter == 1 %}


          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="first-slide" src="{{ elem.imagen }}" alt="First slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="#" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


           {% elif forloop.counter  == 2 %}


            <div class="carousel-item">
              <img class="second-slide" src="{{ elem.imagen }}" alt="Second slide">
              <div class="container">
                <div class="carousel-caption"  ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>


{% else%}

            <div class="carousel-item">
              <img class="third-slide" src="{{ elem.imagen }}" alt="Third slide">
              <div class="container">
                <div class="carousel-caption ">
                  <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">{{ elem.nombre }}</h1>
                <p style="color:#ffffff; font-size:18px; padding-left:75px;"> {{ elem.descripcion }}</p>
                  <p><a class="btn btn-lg btn-primary" href="{{ elem.url_boton }}" role="button">{{ elem.boton }}</a></p>
                </div>
              </div>
            </div>
          </div>


{% endif %}

{% endfor %}
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>


</div>



{% for elemento in cultivos %}    {{ elemento.cultivos }}

    {%endfor %}







<div class="container">






<div class="row" style="padding-top: 225px;" >
  <div class"col">
    <img   class="img-responsive pull-right" width="600"  src="http://abonomex.com/imagenes/barra1.png"/>


  </div>
    <div class="col" >
      <img class="img-left" id="image-valued-shape-l" height="600"  src="http://abonomex.com/imagenes/don_campo.png"/>

    </div>
    <div class="col-7 col-lg-8 mx-auto" >


      <img src="http://www.abonomex.com/imagenes/reactor_82.png" style="opacity: 0.3;" alt="test"  class="img-responsive">

                  <div class="carousel-caption">
                      <h1 style="color:#ffffff; font-size:38px; padding-left:75px;">Tecnoligía de primer mundo para construir cuidadosamente los priductos que utilizas</h1>
                  </div>



    </div>






</div></div>


  <!--<div class="container-fluid"  id="nosotros" style="padding-top: 225px;"  >
   <div class="row  "   id="baseredonda" >
	  <div class="col" >  <div class="d-none d-lg-block " > <span><h1 style="font-size:40px; margin-bottom: 25px; line-height: 0;" >
¿Quiénes Somos?</h1></div> <div class="d-lg-none"><h1 style="font-size:40px; margin-bottom: 25px; line-height: 0;">
Nosotros  </h1></span> </div>
</div></div>  FOOTER -->






<br><br><br>


<!-- Page Content -->

    <!--




   -->






  <!-- FOOTER -->















{% endblock %}
