{% extends 'paginas/base.html' %}

{% block content %}


<br>
<br>
<br>

<div class="container-fluid" >
   <div class="row  "  id="baseredonda" >
       <div class="col" >  <div class="d-none d-md-block " >
         <span><h1 style="font-size:60px; margin-bottom: 25px; margin-top: 75px;" >Nosotros</h1></div>
           <div class="d-md-none"><h1 style="font-size:80px; margin-bottom: 25px; margin-top: 25px;"></h1>
            </div><span>
</div></div></div>

<br>
<br>
<br><br>
<div class="row" style="margin-bottom: 25px;">
  <div class="col-4"></div>
  <div class="col-8">
    <p> La historia de ABONOMEX es simple, iniciamos con una promesa interna de convertirnos en la primer empresa de agroformulaciones que sea un aliado real para los productores del campo mexicano. Nuestra propuesta se basa en un trato justo con el principal motor de nuestra sociedad y que al día de hoy le venden caro y le compran barato.</p>
.
  <p>Para ello lo primero que realizamos fue reunir personas que realmente hayan tenido su origen en nuestros campos, personas con la capacidad de reconocer las necesidades y realidades a la que los productores se enfrentan día a día ya que la única manera de ser parte de la solución es conociendo la raíz de la problemática</p>
  </div>
</div>


{% endblock %}
