

{% block content %}



							<form  method="POST">{% csrf_token %}

								{{ form.as_p }}
				                <button type="submit">Enviar</button>
				            </form>
						</div>





{% endblock %}
