
    <div class="container-fluid" >
    <div class="row">
    <div style="display:inline-block;width:100%; overflow-y:auto;">
        {% if colti in cultivos %}

        {{ cultivos}}

        {% else %}

       {% endif %}
					<ul class="timeline timeline-horizontal" style="padding-top: 80px">
                        {% for linea in linea_de_productos %}

						<li class="timeline-item">
							<div class="timeline-badge"><img class="rounded-circle pull-rig center-block" src="{{ linea.imagen }}" alt="Generic placeholder image" width="70" height="62"></div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h5 class="timeline-title">{{ linea.nombre }}</h5>


								</div>

								<div class="timeline-body">



<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" style="background-color:{{ linea.color }};" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Productos
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

	{% for linea in linea_de_productos.set.all %}
    <a class="dropdown-item" href="../productos/{{ linea.pk }}/" >{{ linea.nombre }} </a>

         {% endfor %}

  </div>
</div>






								</div>


							</div>
						</li>
						 {% endfor %}
					</ul>

				</div>

    </div></div>
