

{% extends 'paginas/base3.html' %}

{% block content %}
<section class="hero-area breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-area-content">
							<h1>Listado de Productos</h1>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/productos">{{ object.nombre }}</a></li>

                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
<section class="blog-detail" id="blog">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
          <div class="single-about-box">




            <h1 class="display-4">  <img src="{{ object.imagen}}" ></h1>
              </div>


<HR width="80%">
              <div class="row">

                <div class="col-sm-4"> <h3> Funciones</h3>
									{% for fun in object.funcion.all  %}
        <h4>{{ fun }} </h4>
              {% endfor %}</div>
                <div class="col-sm-8">
                  <div class="row btn-group" >
                    <a class="btn btn-primary" href="{{object.ficha_tecnica}}" role="button">Descargar Ficha Técnica</a>
                    <a class="btn btn-primary" href="{{ object.video }}" role="button">Ver video</a>
                    <a class="btn btn-primary" href="/contacto" role="button">Solicitar Producto</a>



          </div>
				</div>
			</div>
			<HR width="80%">
			<div class="row">



				<div class="col-lg"><h2>Descripción</h2> <p>{{ object.descripcion }}</p>
				</br> <p>{{ object.descripcion }}</p>
				</div>

			</div>
		</div>
	</section>






{% endblock %}
