{% extends 'paginas/base3.html' %}

{% block content %}
<section class="hero-area breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-area-content">
							<h1>Listado de Productos</h1>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/productos">Productos</a></li>

                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
<section class="blog-detail" id="blog">

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
						<div class="sec-title">
						<h2>Nuestros Productos<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
						<p>Los fertilizantes cumplen hoy un rol muy importante en la industria agrícola debido a que favorece el crecimiento de cultivos a un mayor nivel. </p>
					</div>
				</div>
			</div>
			<div class="row">


				<div class="col-lg-6">
						<div class="single-about-box">
						<img src="/static/imagenes/tractor.png" alt="Productos Eficientes" />
						{% for producto in object_list %}
						<h4 class="timeline-title"><a href="{{ producto.pk }}/">{{ producto.nombre }} </a></h4>
						{% empty %}
							No productos
						{% endfor %}
					</div>
				</div>
				<div class="col-lg-6">
						<div class="single-about-box">
						<img src="/static/imagenes/envira.png" alt="lineas-de-productos" />
						{% for linea in linea_de_productos %}

					   <h4 class="timeline-title"> <a  href="../linea-de-producto/{{ linea.pk }}/" >{{ linea.nombre }} </a></h4>
						 											
					         {% endfor %}
					</div>
				</div>

			</div>
		</div>
	</section>










{% endblock %}
