{% extends 'base.html' %}

{% block content %}
  <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Search</button>
  </form>
  <ul>
  {% for producto in filter.qs %}
    <li>{{ producto.nombre }} </li>
  {% endfor %}
  </ul>
{% endblock %}
