{% extends 'paginas/base3.html' %}

{% block content %}
<section class="hero-area breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="hero-area-content">
							<h1>Suscríbete</h1>
                            <ul>
                                <li><a href="/">Inicio</a></li>
                                <li><a href="/productos">Suscripcion</a></li>

                            </ul>
						</div>
					</div>
				</div>
			</div>
		</section>




<footer class="footer" id="contact">
	<div class="container">
		<div class="row">
								<div class="col-lg-6">
				<div class="contact-form">
					<h4>Suscríbete</h4>
					<p>para recibir noticias de nuestros productos</p>
					<p class="form-message"></p>
									<form  method="POST"  id="suscripcion">{% csrf_token %}

									{{ form.as_p }}
													<button type="submit">Enviar</button>
											</form>
				</div>
								</div>
								<div class="col-lg-6">
				<div class="contact-address">
					<h4>Dirección</h4>
					<p>Río Colorado 206, Del Valle, 66220 San Pedro Garza García, N.L.</p>
					<ul>
						<li>
							<div class="contact-address-icon">
								<i class="icofont icofont-headphone-alt"></i>
							</div>
							<div class="contact-address-info">
								<a href="callto:#">+5281---</a>
								<a href="callto:#">+5281---</a>
							</div>
						</li>
						<li>
							<div class="contact-address-icon">
								<i class="icofont icofont-envelope"></i>
							</div>
							<div class="contact-address-info">
								<a href="mailto:#">info@abonomex.com</a>
							</div>
						</li>
						<li>
							<div class="contact-address-icon">
								<i class="icofont icofont-web"></i>
							</div>
							<div class="contact-address-info">
								<a href="http://abonomex.com/">www.abonomex.com/</a>
							</div>
						</li>
					</ul>
				</div>
								</div>
		</div>

		<div class="row">
								<div class="col-lg-12">
				<div class="copyright-area">
					<ul>
						<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
						<li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
					</ul>
					<p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Abonomex &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
								</div>
		</div>
	</div>
</footer><!-- footer section end -->
<a href="#" class="scrollToTop">
	<i class="icofont icofont-arrow-up"></i>
</a>













{% endblock %}
