{% extends 'paginas/base3.html' %}

{% block content %}



<header class="header">
			<div class="container">
				<div class="row flexbox-center">
					<div class="col-lg-2 col-md-3 col-6">
						<div class="logo">
							<a href="#home"><img src="static/imagenes/logoblanco.svg" alt="logo" /></a>
						</div>
					</div>
					<div class="col-lg-10 col-md-9 col-6">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="nav-link " href="#home">Inicio</a></li>
                                <li><a class="nav-link" href="#screenshot">Nosotros</a></li>
                                <li><a class="nav-link" href="productos/">Productos</a></li>
                                <li><a class="nav-link" href="#pricing">Vídeo</a></li>
                                <li><a class="nav-link" href="#contact">Contáctanos</a></li>

                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
		 <!-- hero area start -->
		<section class="hero-area" id="home">
			<div class="player" data-property="{videoURL:'http://youtu.be/bgLt6I2PuQg',containment:'#home',autoPlay:true, mute:true, startAt:0, showControls:false, loop:true, opacity:1}"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="hero-area-content">
							<h1>Primer empresa mexicana de agroformulaciones y aliado real para los productores del campo
mexicano.</h1>

							<a href="#" class="appao-btn">Productos</a>
							<a href="#" class="appao-btn">Cultivos</a>
						</div>
					</div>
					<div class="col-lg-5">
					    <div class="hand-mockup text-lg-left text-center">
							<img src="static/imagenes/abo.png" alt="Hand Mockup" />
						</div>
					</div>
				</div>
			</div>
		</section><!-- hero area end -->
		<!-- about section start -->
		<section class="screenshot-area ptb-90 " id="screenshot">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Sobre Abonomex<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<p>En Abonomex estamos orgullosos de lo que estamos construyendo, por ello abrimos nuestras puertas para que todos conozcan donde y como son elaborados nuestros productos. Esta transparencia nos permite garantizarles calidad y precio procurando siempre el más bajo impacto ambiental. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4">
					    <div class="single-about-box">
							<img src="static/imagenes/tractor.png" alt="Productos Eficientes" />
							<h4>Productos Eficientes</h4>
							<p>Línea de productos eficientes elaborados para incrementar la producción y disminuir riesgos.</p>
						</div>
					</div>
					<div class="col-lg-4">
					    <div class="single-about-box active">
							<img src="static/imagenes/envira.png" alt="Fertilizantes" />
							<h4>Fertilizantes</h4>
							<p>Gracias a la utilización del producto se puede conseguir una tierra mas rica para su produccón </p>
						</div>
					</div>
					<div class="col-lg-4">
					    <div class="single-about-box">
							<img src="static/imagenes/servicio.png" alt="Servicio al cliente" />
							<h4>Servicio al cliente</h4>
							<p>En abonomex estamos comprometidos en brindarte un excelente servicio.</p>
						</div>
					</div>
				</div>
			</div>
		</section><!-- about section end -->
		<!-- feature section start -->
		<section class="feature-area ptb-90" >
			<div class="container">
				<div class="row flexbox-center">

					<div class="col-lg-5">
						<div class="single-feature-box text-center">
							<img src="static/imagenes/maquina.png" alt="feature">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="single-feature-box text-lg-left text-center">
							<ul>
								<li>
									<div class="feature-box-icon">
										<i class="icofont icofont-laptop"></i>
									</div>
									<div class="feature-box-info">
										<h1>Tecnología de Primer Mundo</h1>
										<p>para construir cuidadosamente los priductos que utilizas,Nuestra propuesta se basa en un trato justo con el principal motor de nuestra sociedad y que al día de hoy le venden caro y le compran barato. </p>
									</div>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</section><!-- feature section end -->
		<!-- showcase section start -->
		<section class="showcase-area ptb-90" id="feature">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Productos por Etapa<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
						</div>
					</div>
				</div>
				<div class="row flexbox-center">
					<div class="col-lg-9">
						<div class="single-showcase-box">
							<h4>Agroraise </h4>
							<p>Es un producto diseñado específicamente para mejorar y acelerar el crecimiento de las raíces adicional a engrosar el tallo. La base de nuestra formulación radica en una mezcla cuidadosamente balanceada de hormonas enfocadas para interactuar con la raíz de las plantas, ácidos fúlvicos y macronutrientes. Estos componentes generan resultados mas rápidos y mejores interviniendo el metabolismo vegetal en una extensa variedad de cultivos agrícolas.

Es un producto diseñado específicamente para mejorar y acelerar el crecimiento de las raíces </p>

						</div>
					</div>
					<div class="col-lg-3">
						<div class="single-showcase-box">
							<img src="static/imagenes/maiz_v.png" alt="showcase">
						</div>
					</div>
				</div>
				<div class="row flexbox-center">
					<div class="col-lg-2">
						<div class="single-showcase-box">
							<img src="static/imagenes/potato.png" alt="showcase">
						</div>
					</div>
					<div class="col-lg-10">
						<div class="single-showcase-box">
							<h4>nutriNPK </h4>
							<p>Producto que puede ser aplicado en el suelo o directo en la planta para favorecer la asimilación de nutrientes esenciales, de manera mas precisa el Potasio, Fósforo, Nitrógeno sin dejar de lado a los micro y macro nutrientes. Es un fertilizante líquido que esta adicionado con fuentes de Nitrógeno (N), Fósforo (P) Potasio (K) y una base muy estable de humus líquido. Su uso es necesario para tener una planta fortalecida con mejor crecimiento radicular, potencializar la actividad microbiana del suelo e incrementar la fertilidad, por lo que el momento preciso para utilizarlo se da en las etapas donde las plantas necesitan mucha energía; desarrollo de fruto, transplante de plantilla a suelo, inicio de floración. </p>

							<a href="#" class="appao-btn appao-btn2">Más productos</a>
						</div>
					</div>
				</div>
			</div>
		</section><!-- showcase section end -->
		<!-- video section start -->
		<section class="video-area ptb-90" id="pricing">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="video-popup">
							<a href="https://vimeo.com/255341105" class="popup-youtube"><i class="icofont icofont-ui-play"></i></a>
							<h1>Vídeo Muesra</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- video section end -->



		<!-- testimonial section start -->
		<section class="testimonial-area ptb-90 " id="team">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Nuestros Clientes<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<p>Estas son algunas muestras de lo que opinan nuestros clientes </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 offset-lg-2">
						<div class="testimonial-wrap">
							<div class="single-testimonial-box">
								<div class="author-img">
									<img src="static/imagenes/author/author1.jpg" alt="author" />
								</div>
								<h5>Mary Balogh</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
								<div class="author-rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
							</div>
							<div class="single-testimonial-box">
								<div class="author-img">
									<img src="static/imagenes/author/author2.jpg" alt="author" />
								</div>
								<h5>Mary Balogh</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
								<div class="author-rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
							</div>
							<div class="single-testimonial-box">
								<div class="author-img">
									<img src="static/imagenes/author/author2.jpg" alt="author" />
								</div>
								<h5>Mary Balogh</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in </p>
								<div class="author-rating">
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
									<i class="icofont icofont-star"></i>
								</div>
							</div>
						</div>
						<div class="testimonial-thumb">
							<div class="thumb-prev">
								<div class="author-img">
									<img src="static/imagenes/author/author2.jpg" alt="author" />
								</div>
							</div>
							<div class="thumb-next">
								<div class="author-img">
									<img src="static/imagenes/author/author2.jpg" alt="author" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- download section start -->
		<section class="download-area ptb-90" id="blog">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="sec-title">
							<h2>Subscíbete!!!<span class="sec-title-border"><span></span><span></span><span></span></span></h2>
							<h4>Recibe promociones exclusivas para nuestros clientes </h4>
						</div>
					</div>
				</div>
				<div class="row">
                    <div class="col-lg-12">
						<div class="subscribe-form">
							<form action="#">
								<input type="text" placeholder="Your email address here">
								<button type="submit">Subcríbete</button>
							</form>
						</div>
                    </div>
				</div>





			</div>
		</section><!-- download section end -->

		<!-- google map area start -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14385.503781497311!2d-100.3643212!3d25.6588296!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7d61a6f488cdffa4!2sABONOMEX+SA+DE+CV!5e0!3m2!1ses-419!2smx!4v1547199416302" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		<!-- google map area end -->
		<!-- footer section start -->
		<footer class="footer" id="contact">
			<div class="container">
				<div class="row">
                    <div class="col-lg-6">
						<div class="contact-form">
							<h4>Contáctanos!!!</h4>
							<p class="form-message"></p>
							<form id="contact-form" action="#" method="POST">
				                <input type="text" name="name" placeholder="Enter Your Name">
				                <input type="email" name="email" placeholder="Enter Your Email">
				                <input type="text" name="subject" placeholder="Your Subject">
				                <textarea placeholder="Messege" name="message"></textarea>
				                <button type="submit" name="submit">Mandar mensaje</button>
				            </form>
						</div>
                    </div>
                    <div class="col-lg-6">
						<div class="contact-address">
							<h4>Dirección</h4>
							<p>Río Colorado 206, Del Valle, 66220 San Pedro Garza García, N.L.</p>
							<ul>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-headphone-alt"></i>
									</div>
									<div class="contact-address-info">
										<a href="callto:#">+5281---</a>
										<a href="callto:#">+5281---</a>
									</div>
								</li>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-envelope"></i>
									</div>
									<div class="contact-address-info">
										<a href="mailto:#">info@abonomex.com</a>
									</div>
								</li>
								<li>
									<div class="contact-address-icon">
										<i class="icofont icofont-web"></i>
									</div>
									<div class="contact-address-info">
										<a href="http://abonomex.com/">www.abonomex.com/</a>
									</div>
								</li>
							</ul>
						</div>
                    </div>
				</div>

				<div class="row">
                    <div class="col-lg-12">
						<div class="copyright-area">
							<ul>
								<li><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
								<li><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-pinterest"></i></a></li>
								<li><a href="#"><i class="icofont icofont-social-google-plus"></i></a></li>
							</ul>
							<p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Abonomex &copy;<script>document.write(new Date().getFullYear());</script> Todos los derechos reservados <i class="fa fa-heart-o" aria-hidden="true"></i>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
						</div>
                    </div>
				</div>
			</div>
		</footer><!-- footer section end -->
		<a href="#" class="scrollToTop">
			<i class="icofont icofont-arrow-up"></i>
		</a>


{% endblock %}
