/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

h1 {

font-family: 'Poppins', sans-serif;

}


a {
 font-family: 'Ubuntu', sans-serif;
 color: black;

}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
.bg-company-white {
    background-color: white;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.nav-link  {
  padding-right: 130px;
}


.navbar-nav {border-bottom:2px solid rgb(0,0,0);padding-bottom:10px};


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}



#baseredonda {
    color : white;
    position: absolute;
    text-align: right;
    font-size:500%;
    width: 50%;
    height: 50px;
    border: 80px solid #483a2f;
    border-radius: 0 180px 180px 0;
    
}





::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-button {
  width: 95px;
  height: 95px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #646464;
}
::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 45px;
}
::-webkit-scrollbar-track:hover {
  background: #666666;
}
::-webkit-scrollbar-track:active {
  background: #333333;
}
::-webkit-scrollbar-corner {
  background: transparent;
}





/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.containerx {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}


.span4 img {
    margin-right: 50px;
    margin-left: 20px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}

#image-valued-shape {
    shape-outside: url("https://preview.ibb.co/mBeVFU/planta.png");
    shape-image-threshold: 0.0;
    float: right;
}

#image-valued-shape-l {
    shape-outside: url("http://abonomex.com/imagenes/don_campo.png");
    shape-image-threshold: 0.0;
    float: left;
}
