/* -------------------------------------
 * Set to false if you are not using Chrome
 * ------------------------------------- */
/* -------------------------------------
 * Styles
 * ------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
body {
  max-width: 1200px;
  margin: 50px auto 0;
  padding: 0 5%;
  font: 16px/1.5 "Source Sans Pro", sans-serif;
  color: #eee9dc;
  background: #3f9cca;
}

h2, #note {
  margin: 0;
}

#timeline {
  margin-top: 480px;
  padding: 0;
  border-top: 8px solid #eee9dc;
  list-style: none;
  display: flex;
}
#timeline li {
  padding-top: 30px;
  position: relative;
  flex: 1;
  transition: all 0.4s ease-in-out;
}
#timeline li:hover {
  padding-bottom: 80px;
  flex: 2;
}
#timeline li:hover label {
  opacity: 1;
  transform: translateY(10px);
}

label {
  max-width: 200px;
  margin: 0 auto;
  padding: 5px 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #eee9dc;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
}
label:before, label:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
}
label:before {
  border-bottom-color: #eee9dc;
  border-width: 15px;
  left: 52%;
  margin-left: -15px;
}
label:after {
  border-bottom-color: #3f9cca;
  border-width: 12px;
  left: 52%;
  margin-left: -12px;
}
label span {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.date {
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
  position: absolute;
  top: -60px;
  display: block;
}

.circle {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  background: #3f9cca;
  border: 5px solid #eee9dc;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  left: 50%;
}

.content {
  width: 800px;
  height: 240px;
  margin: 0 auto;
  border: 2px solid #eee9dc;
  border-radius: 8px;
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #3f9cca;
  transform: perspective(1000px) rotateY(20deg);
  animation: switching_back 0.8s;
}
.content h3, .content p {
  margin: 0 20px 10px;
  text-align: justify;
  opacity: 0;
}
.content h3 {
  margin-top: 20px;
}

.radio {
  display: none;
}

.radio:checked + label {
  opacity: 1;
  transform: translateY(10px);
  transition: opacity 0.4s ease-in-out 0.25s, transform 0.3s ease-in-out 0.25s;
}
.radio:checked ~ .circle {
  background: #f98262;
}
.radio:checked ~ .content {
  z-index: 999;
  transform: perspective(1000px) rotateY(15deg) translate(40px, 25px);
  animation: switching 1s ease;
}
.radio:checked ~ .content h3, .radio:checked ~ .content p {
  opacity: 1;
  transition: opacity 0.4s ease-in-out 0.4s;
}

@keyframes switching {
  0% {
    transform: perspective(1000px) rotateY(20deg);
  }
  40% {
    transform: perspective(1000px) rotateY(15deg) translate(100px, 35px);
  }
  100% {
    transform: perspective(1000px) rotateY(15deg) translate(40px, 25px);
  }
}
@keyframes switching_back {
  0% {
    transform: perspective(1000px) rotateY(15deg) translate(40px, 25px);
    z-index: 200;
  }
  40% {
    transform: perspective(1000px) rotateY(15deg) translate(0px, 0px) scale(1.08);
  }
  100% {
    transform: perspective(1000px) rotateY(20deg);
    z-index: 100;
  }
}

