<!-- templates/email.html -->

{% extends 'paginas/base.html' %}

{% block content %}
<br><br><br>
<div class="container form-group">

  <hr>
   <div class="row">
       <div class="col">
           <div class="mx-auto w-50 p-3 text-center">
             <h1>Contáctanos</h1>
             <form method="GET">
                 {% csrf_token %}
                 {{ form.as_p }}
                 <div class="form-actions">
                   <button type="submit">enviar</button>
                 </div>
             </form>
           </div>
       </div>
   </div>

</div>



{% endblock %}
